// Libraries
@import "partials/variables";
@import "partials/mixins";


* {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

.hide {
    display: none;
}

a {
    text-decoration: none;

    &:link {
        @include theme(color, $color-primary, $color-tan, "dark");
    }

    &:visited {
        color: $color-success;
    }

    &:hover {
        @include theme(color, $color-dark, $color-light, "light");

    }

    &:active {
        color: $color-primary;
    }
}

li {
    list-style: none;
}

.p-10 {
    padding: 10px;
}

.pl-10 {
    padding-left: 10px;
}

.pr-10 {
    padding-right: 10px;
}

.pt-10 {
    padding-top: 10px;
}

.pb-10 {
    padding-bottom: 10px;
}

.header-container {
    @include curvePage("curve")
}

.navbar-container {
    @include dark_bg_alpha;
    @include setFlex(space-between, center);
    padding: 5px 10px;
}

.nav-item-container {
    @include setFlex(center, center, 30px, row)
}


.search-bar-input-container {
    @include setFlex(center, center);
    margin-top: 15px;

    button {
        border: none;
        background: transparent;
        color: $color-light;
    }
}

.search-bar-input {
    z-index: 4;
    @include setFlex(space-between, center);
    background: linear-gradient(90deg, rgba(255, 106, 49, 1) 0%, rgb(255, 137, 27) 64%, rgb(252, 166, 73) 100%);
    border: none;
    border-radius: 20px;
    width: 100%;

    padding: 10px 15px;

    input {
        width: 50%;
        padding: 0 10px;
        border: none;
        border-radius: 15px;
        background: transparent;
        outline: none;
        color: $color-light;

        &::placeholder {
            color: $color-light;
            opacity: 0.5;
        }
    }

    button {
        font-size: 0.8em;
        color: $color-light;
        opacity: 0.8;
    }
}

// --------DROPDOWN STYLES-----
.dropdown-menu {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translate(25%, 10%);
}

.dropdown-menu-container {
    width: 50%;
    background: rgba(40, 53, 73, 0.9);
    backdrop-filter: blur(100%);
    margin: 0.5em;
    font-weight: bold;
    padding: 1em;
    border-radius: 5px;
}

.platform-container {
    // @include setFlex(space-between, center);
}

.platform-header {
    @include setFlex(space-between, center);
    background: rgba(0, 0, 0, 0.3);
    color: $color-light;
    padding: 10px;
    border-radius: 5px;

    button {
        border: none;
        background: transparent;
        color: $color-light;
    }
}

.platform-body {
    @include setGrid;
    margin-bottom: 0.3em;
}

.platform-item {
    @include setFlex(flex-start, center);
    color: $color-light;
    margin-top: 0.4em;

    border-radius: 0.8em;
    padding: 0.4em;

    img {
        @include setSize(15px, 15px);
    }

    &:hover {
        background: $color-dark-bg;
    }
}

.prepaid-item {
    @include setFlex(center, center, 10px, column);
    color: $color-light;
    margin-top: 0.4em;

    border-radius: 0.8em;
    padding: 0.4em;

    img {
        @include setSize(40px, 40px);
    }

    &:hover {
        background: $color-dark-bg;
    }
}


// ----------------------------

.search-nav-container {
    @include setFlex(space-between, center);
    @include dark_blue_bg_alpha;
    border-radius: 20px;
    margin-top: 10px;
    padding-left: 5px;

    button {
        @include setSize(50px, 50px);
        @include high_lighter;
        margin-right: -10px;
        border: none;
        border-radius: 50%;


        img {
            @include setSize(20px, 20px);
        }

        &:hover {
            background: rgba(255, 106, 49, 1);

        }
    }
}

.search-bar-items {
    @include setFlex(center, center, 15px);
    margin: 5px;
}

.search-bar-item {
    @include setFlex(center, center);
    color: $color-light;

    img {
        @include setSize(20px, 20px);
    }

    .down-arrow {
        @include setSize(10px, 10px);
    }

    &:hover {
        background: $color-dark-bg;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: all .3s ease-in-out;
    }

}




.profile-cart-container {
    @include setFlex(center, center, 10px, row)
}

.icon {
    @include setSize();
}

.header-content-container {
    color: $color-light;
    @include setFlex(space-around, center);
    padding-top: 10em;
}

.left-container {
    @include setFlex(flex-start, flex-start, 5px, column);
}

.badge-price {
    @include setFlex(space-between, center);
}

.badge {
    background: $color-dark-bg;
    padding: 7px 15px;

    border: {
        radius: 5px
    }
}

.badge-curve {
    background: $color-orange;
    @include setCurveBadge;
}


.early-access-btn {
    background-color: rgba($color: #000000, $alpha: 0.5);
    $b: .5em;
    /* border width */
    $c: 1em;
    /* corner size */
    $r: 0em;
    /* corner rounding */
    position: relative;
    margin: 1em auto;
    border: solid $b transparent;
    padding: 1em;
    max-width: 23em;
    font: 1.25em ubuntu, sans-serif;
    color: $color-light;

    &::before {
        position: absolute;
        inset: calc(-1*$b);
        border: inherit;
        border-radius: $r;
        background: linear-gradient(rgb(206, 205, 205), rgb(162, 161, 161), rgb(205, 205, 205)) border-box;
        $corner: conic-gradient(from -90deg at $c $c, rgb(255, 255, 255) 25%, #ececec00 0) 0 0/ calc(100% - $c) calc(100% - $c) border-box;
        $inner: conic-gradient(rgb(238, 238, 238) 0 0) padding-box;
        mask: $corner subtract, $inner;
        content: ''
    }

    &:hover {
        background-color: rgba($color: $color-light, $alpha: 0.5);
        color: $color-dark;

        transition: all .3s ease-in-out;
    }
}

.trending-container {
    height: 100%;
    padding: 3em;
    background: $color-dark-bg;
    margin-top: -1.9em;
}

.trending-header {
    @include setFlex(center, center, 55%);
    padding: 3em;

    h4 {
        color: $color-light;
    }

    button {
        padding: 7px 15px;
        background: $color-dark-bg;
        border: 1px solid $color-light;
        border-radius: 5px;
        color: $color-light;

        &:hover {
            background: $color-light;
            color: $color-dark-bg;

            transition: all .3s ease-in-out;
        }
    }
}


#trendings {
    @include setFlex(center, center, 25px, row);
}

.card-container {
    overflow: hidden;
}

.card-bg {
    position: relative;
    overflow: hidden;

    img {
        @include setSize(300px, 200px);
        border-radius: 5px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        &:hover {
            transform: scale(1.2);
            transition: transform .3s ease-in-out;
        }
    }

}

.card-badge-curve {
    background: $color-orange;
    @include setCurveBadge;
    position: absolute;
    bottom: 0;
    z-index: 2;
}

.card-item-details {
    margin-top: 5px;
    @include setFlex(space-between, center);
    color: $color-light;
}

//Responsiveness
@media only screen and (max-width: 630px) {

    .navbar-container {
        @include setFlex(space-between, center, 20px, column);
    }

    #trendings {
        @include setFlex(center, center, 10px, column);
    }

    .header-container {
        @include curvePage("none");
    }
}