// Libraries
@import "partials/variables";
@import "partials/mixins";


* {
    margin: 0;
    padding: 0;
}

.navbar-container {
    @include dark_bg_alpha;
    @include setFlex(row, space-between, center);
    padding: 5px 10px;
}

.nav-item-container {
    @include setFlex(row, space-between, center, 30px)
}

.profile-cart-container {
    @include setFlex(row, center, center, 10px)
}

.icon {
    @include setSize();
}


a {
    text-decoration: none;

    &:link {
        @include theme(color, $color-primary, $color-tan, "dark");
    }

    &:visited {
        color: $color-success;
    }

    &:hover {
        @include theme(color, $color-dark, $color-light, "dark");

    }

    &:active {
        color: $color-primary;
    }
}

li {
    list-style: none;
}



//Responsiveness
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 768px) {

    /* For desktop: */
    .col-1 {
        width: $col-1;
    }

    .col-2 {
        width: $col-2;
    }

    .col-3 {
        width: $col-3;
    }

    .col-4 {
        width: $col-4;
    }

    .col-5 {
        width: $col-5;
    }

    .col-6 {
        width: $col-6;
    }

    .col-7 {
        width: $col-7;
    }

    .col-8 {
        width: $col-8;
    }

    .col-9 {
        width: $col-9;
    }

    .col-10 {
        width: $col-10;
    }

    .col-11 {
        width: $col-11;
    }

    .col-12 {
        width: $col-12;
    }
}