@mixin theme($property, $light-color, $dark-color, $theme: "light") {
    @if $current-theme ==$theme {
        #{$property}: $light-color;
    }

    @else {
        #{$property}: $dark-color;
    }
}

@mixin high_lighter {
    background: rgb(255, 106, 49);
    background: linear-gradient(180deg, rgba(255, 106, 49, 1) 0%, rgb(255, 137, 27) 64%, rgb(252, 166, 73) 100%);
}

@mixin dark_bg_alpha {
    background: rgb(0, 2, 3);
    background: linear-gradient(180deg, rgba(0, 2, 3, 0.9626444327731093) 0%, rgba(0, 0, 0, 0.7945772058823529) 24%, rgba(159, 159, 159, 0) 100%);
}

@mixin dark_blue_bg_alpha {
    background: rgb(13, 20, 33);
    background: linear-gradient(90deg, rgba(13, 20, 33, 1) 0%, rgba(40, 53, 73, 1) 43%, rgba(63, 73, 92, 0.9738489145658263) 100%);
}

@mixin setFlex($justify-content, $align-items, $gap: 10px, $direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
    gap: $gap;
    flex-wrap: wrap;
}

@mixin setGrid($column: 3, $fraction: 1fr, $gap: 20px) {
    display: grid;
    grid-template-columns: repeat($column, $fraction);
    grid-gap: $gap;
}

@mixin setSize($wd: 32px, $ht: 32px) {
    width: $wd;
    height: $ht;
}

@mixin setCurveBadge($radius: 5px, $pl: 10px, $pt: 30px, $pr: 10px, $pb: 10px) {
    padding: $pl $pt $pr $pb;
    clip-path: polygon(86% 0, 100% 100%, 0 100%, 0 0);
    border-radius: $radius;
}


@mixin curvePage($isCurve: "curve", $height: 600px) {
    height: $height;

    background: {
        image: url('../public/images/b3.webp');
        repeat: no-repeat;
        position: center;
        size: cover;
    }

    @if($isCurve) {
        clip-path: polygon(100% 0, 100% 100%, 0 95%, 0 0);
    }
}