//Device screen sizes
$xs : 360px; //<576px
$sm : 576px; // >575px
$md : 768px; // >= 768px
$lg : 992px; // >=992px
$xl : 1200px; // >=1200px
$xxl: 1400px; // 1400px>=


$current-theme: "dark";
// colors
$color-dark-bg: #444454;
$color-light-bg: #f3f3f3;
$color-dark-border: #5250507e;

$color-light: #ffffff;
$color-dark: #1d2129;
$color-primary: #bebec0;
$color-danger: red;
$color-success: green;

$color-chocolate: #ff6e30;
$color-vanilla: #fae8b6;
$color-strawberry: pink;
$color-orange: rgb(253, 123, 36);
$color-lemon: #5fd592;
$color-tan: tan;