//Device screen sizes
$xs : 575px; //<576px
$sm : 576px; // >575px
$md : 768px; // >= 768px
$lg : 992px; // >=992px
$xl : 1200px; // >=1200px
$xxl: 1400px; // 1400px>=

//Column ratio
$col-1 : 8.33%;
$col-2 : 16.66%;
$col-3 : 25%;
$col-4 : 33.33%;
$col-5 : 41.66%;
$col-6 : 50%;
$col-7 : 58.33%;
$col-8 : 66.66%;
$col-9 : 75%;
$col-10 : 83.33%;
$col-11 : 91.66%;
$col-12 : 100%;


$current-theme: "dark";
// colors
$color-dark-bg: #444454;
$color-light-bg: #f3f3f3;
$color-dark-border: #5250507e;

$color-light: #ffffff;
$color-dark: #1d2129;
$color-primary: #bebec0;
$color-danger: red;
$color-success: green;

$color-chocolate: #ff6e30;
$color-vanilla: #fae8b6;
$color-strawberry: pink;
$color-orange: rgb(253, 123, 36);
$color-lemon: #5fd592;
$color-tan: tan;